<div class="">
  <input id="kelas" name="kelas" type="hidden" value="<%= JSON.stringify(pointKelas) %>" />
</div>

<div class="flex items-center justify-between px-8 py-6 bg-white rounded-md shadow-shadowcus">
  <div class="flex flex-col">
    <div class="flex flex-col gap-1 pb-5">
      <h1 class="text-3xl font-medium text-secondary">Selamat Datang <%= username %></h1>
      <p class="font-light text-slate-600" id="1">ABYASAD DHARYATI VIDYA</p>
    </div>
    <div class="flex items-center gap-3">
      <a href="/pelanggaran" class="px-3 py-2 text-sm text-white transition-all rounded-md shadow-lg bg-primary hover:bg-secondary">Input Pelanggaran</a>
      <a href="/prestasi" class="px-3 py-2 text-sm text-white transition-all rounded-md shadow-lg bg-primary hover:bg-secondary">Input Prestasi</a>
    </div>
  </div>
  <div class="">
    <img src="/img/logo.svg" alt="" class="w-[60%] h-auto" />
  </div>
</div>

<div class="mt-8">
  <h1 class="pb-2 text-lg font-medium text-secondary">Siswa Yang Paling Banyak Melanggar :</h1>
  <div class="swiper mySwiperss" data-aos="fade-up">
    <div class="py-2 pb-8 text-white swiper-wrapper">
      <% data.forEach(e => { %>

      <div class="swiper-slide">
        <a href="/detailsiswa/<%= e.id_siswa %>">
          <div class="flex justify-between items-center gap-5 px-5 bg-white rounded-md shadow-shadowcus w-[100%] h-40">
            <div class="w-[40%] h-full flex items-center">
              <img src="img/ucok.svg" class="w-full h-full" alt="" />
            </div>
            <div class="flex flex-col gap-1 text-black w-[60%] h-full justify-center">
              <h1 class="text-sm font-semibold text-secondary"><%= e.nama %></h1>
              <P class="text-sm"><%= e.kelas %> <%= e.nama_jurusan %> <%= e.subkelas %></P>
              <h1 class="pt-4 text-sm">Jumlah Point : <span class="text-red-500"><%= e.point %></span></h1>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<div class="px-5 pb-32 mt-10">
  <h1 class="pb-2 text-lg font-medium text-secondary">Kelas Dengan Siswa Yang Paling Banyak Melanggar :</h1>
  <canvas id="myChart" class="" width="100%"></canvas>
</div>

<% if (result === true ) { %>
<dialog open class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="absolute btn btn-sm btn-circle btn-ghost right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">Selamat datang!</h3>
    <p class="py-4">Modal ini muncul langsung tanpa perlu tombol.</p>
  </div>
</dialog>

<% } %>
