<% if (data.length <= 0) { %>
<div class="flex items-center justify-center w-full h-[70vh]">
  <h1>SISWA TIDAK MEMILIKI RIWAYAT PELANGGARAN..</h1>
</div>

<% }else { %>

<div class="flex gap-2 mb-5 text-sm">
  <a href="/datasiswa" class="text-blue-500">Data Siswa</a>
  <a href="">/ Detail</a>
</div>

<div class="mb-8">
  <h1 class="mb-1 text-2xl font-medium text-primary">Detail Pelanggaran Siswa</h1>
  <p class="text-sm font-light lowercase">atas nama <%= data[0].nama_siswa %></p>
</div>

<div class="table">
  <div class="">
    <div class="">
      <div class="relative overflow-x-auto overflow-y-hidden sm:rounded-lg">
        <table class="w-full overflow-y-hidden text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400" id="example">
          <thead class="text-xs text-white uppercase bg-secondary">
            <tr>
              <th scope="col" class="px-6 py-3">No</th>
              <th scope="col" class="px-6 py-3">Tanggal</th>
              <th scope="col" class="px-6 py-3">Pelanggaran</th>
              <th scope="col" class="px-6 py-3">Point Pengurangan</th>
              <th scope="col" class="px-6 py-3">admin penginput</th>
            </tr>
          </thead>
          <tbody>
            <% let x = 1 %> <% data.forEach(e => { %>
            <tr class="text-white bg-gray-800 border-b border-gray-700 hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap"><%= x %></th>
              <td class="px-6 py-4"><%=new Date(e.tanggal).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %> %></td>
              <td class="px-6 py-4"><%= e.nama_pelanggaran %></td>
              <td class="px-6 py-4"><%= e.pengurangan_point %></td>
              <td class="px-6 py-4"><%= e.admin_penginput %></td>
            </tr>
            <% x++ %> <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% } %>
